<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://copan.brasilis.club/colors.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://copan.brasilis.club/form.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://copan.brasilis.club/media.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://copan.brasilis.club/layout.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://copan.brasilis.club/text.css" crossorigin="anonymous" />
	{% block header %}{% endblock header %}
</head>
<body>
	{% block content %}{% endblock content %}
</body>
</html>
