{% extends "base.html" %} {% block header %}
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/styles/homepage.css" />
{% endblock header %} {% block content %}
<main>
    <section class="space-between">
        <header>
            <nav>
                <a href="/">Resma</a>
            </nav>
            <nav>
                <a href="/docs">Documentation</a>
            </nav>
        </header>
        <div>{{ page.content }}</div>
        <footer>
            <nav>
                <a href="https://github.com/brasilisclub/resma" target="_blank">
                    Built with <b>Resma</b>
                </a>
                <a href="https://github.com/brasilisclub/resma" target="_blank">
                    From <b>Brazil</b> with Love
                </a>
            </nav>
        </footer>
    </section>
</main>
{% endblock content %}
